.section-contact{
    background: #E9E9E9;
    height: 100vh;
    overflow: hidden;
    h2{
        text-align: center;
        color: #4A4A4A;
        font-size: 40px;
        line-height: 36px;
        margin: 30px 0;
    }
}


.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin: auto;
    overflow: hidden;
    
    @media (min-width: @screen-sm){
        max-width: 400px;
    }

    @media (min-width: @screen-md){
        max-width: 500px;
    }
    label{
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 36px;
        display: block;
    }

    input, textarea{
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: initial;
        border: none;
        font-size: 22px;
        width: 350px;
        @media (min-width: @screen-md){
            width: 100%;
        }
    }

    input[type=submit] {
        border-radius: 4px; 
        background: @primary-color;
        color: white;
        margin-top: 0px;
    }

    textarea{
        height: 170px;
    }
}
.error-msg{
    display: block;
    color: red;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}